In [10]:
import wget
import pandas as pd
import time as time

#For example Station ID for YellowKnife = 1706
stationid = input("Please insert Station ID")
start=input("please insert the strat of period")
end= input("please insert the end of period")
stationid=1706
start=2013
end=2015
smonth=1
while (start<=end):
    smonth=1
    while (smonth<=12):
        url = 'http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID='+str(stationid)+'&Year='+str(start)+'&Month='+str(smonth)+'&Day=14&timeframe=2&submit= Download+Data'
        smonth=smonth+1
        filename=wget.download(url)
        hourly_data=pd.read_csv(filename,encoding='ISO-8859-1',delimiter=",", skiprows=25)
        hourly_data
        
        #if you just want max and min you had to remove number 1 and 2 from command below  
        df2=hourly_data[[1, 2,5,7]]
        print (df2) 
    start=start+1

Please insert Station ID1706
please insert the strat of period2014
please insert the end of period2016
     Year  Month  Max Temp (°C)  Min Temp (°C)
0    2013      1          -16.6          -19.2
1    2013      1          -13.4          -19.8
2    2013      1           -5.9          -28.9
3    2013      1          -24.3          -32.7
4    2013      1          -18.6          -26.3
5    2013      1          -15.5          -19.0
6    2013      1          -16.8          -29.1
7    2013      1          -29.1          -39.7
8    2013      1          -31.9          -40.3
9    2013      1          -26.7          -36.6
10   2013      1          -26.8          -33.6
11   2013      1          -28.3          -38.0
12   2013      1          -32.9          -41.4
13   2013      1          -25.8          -35.0
14   2013      1          -26.3          -32.9
15   2013      1          -26.4          -36.7
16   2013      1            NaN            NaN
17   2013      1            NaN            NaN
18   2013      1            NaN            NaN
19   2013      1            NaN            NaN
20   2013      1            NaN            NaN
21   2013      1            NaN            NaN
22   2013      1            NaN            NaN
23   2013      1            NaN            NaN
24   2013      1            NaN            NaN
25   2013      1            NaN            NaN
26   2013      1            NaN            NaN
27   2013      1            NaN            NaN
28   2013      1            NaN            NaN
29   2013      1            NaN            NaN
..    ...    ...            ...            ...
335  2013     12            NaN            NaN
336  2013     12            NaN            NaN
337  2013     12            NaN            NaN
338  2013     12            NaN            NaN
339  2013     12            NaN            NaN
340  2013     12            NaN            NaN
341  2013     12            NaN            NaN
342  2013     12            NaN            NaN
343  2013     12            NaN            NaN
344  2013     12            NaN            NaN
345  2013     12            NaN            NaN
346  2013     12            NaN            NaN
347  2013     12            NaN            NaN
348  2013     12            NaN            NaN
349  2013     12            NaN            NaN
350  2013     12            NaN            NaN
351  2013     12            NaN            NaN
352  2013     12            NaN            NaN
353  2013     12            NaN            NaN
354  2013     12            NaN            NaN
355  2013     12            NaN            NaN
356  2013     12            NaN            NaN
357  2013     12            NaN            NaN
358  2013     12            NaN            NaN
359  2013     12            NaN            NaN
360  2013     12            NaN            NaN
361  2013     12            NaN            NaN
362  2013     12            NaN            NaN
363  2013     12            NaN            NaN
364  2013     12            NaN            NaN

[365 rows x 4 columns]
     Year  Month  Max Temp (°C)  Min Temp (°C)
0    2013      1          -16.6          -19.2
1    2013      1          -13.4          -19.8
2    2013      1           -5.9          -28.9
3    2013      1          -24.3          -32.7
4    2013      1          -18.6          -26.3
5    2013      1          -15.5          -19.0
6    2013      1          -16.8          -29.1
7    2013      1          -29.1          -39.7
8    2013      1          -31.9          -40.3
9    2013      1          -26.7          -36.6
10   2013      1          -26.8          -33.6
11   2013      1          -28.3          -38.0
12   2013      1          -32.9          -41.4
13   2013      1          -25.8          -35.0
14   2013      1          -26.3          -32.9
15   2013      1          -26.4          -36.7
16   2013      1            NaN            NaN
17   2013      1            NaN            NaN
18   2013      1            NaN            NaN
19   2013      1            NaN            NaN
20   2013      1            NaN            NaN
21   2013      1            NaN            NaN
22   2013      1            NaN            NaN
23   2013      1            NaN            NaN
24   2013      1            NaN            NaN
25   2013      1            NaN            NaN
26   2013      1            NaN            NaN
27   2013      1            NaN            NaN
28   2013      1            NaN            NaN
29   2013      1            NaN            NaN
..    ...    ...            ...            ...
335  2013     12            NaN            NaN
336  2013     12            NaN            NaN
337  2013     12            NaN            NaN
338  2013     12            NaN            NaN
339  2013     12            NaN            NaN
340  2013     12            NaN            NaN
341  2013     12            NaN            NaN
342  2013     12            NaN            NaN
343  2013     12            NaN            NaN
344  2013     12            NaN            NaN
345  2013     12            NaN            NaN
346  2013     12            NaN            NaN
347  2013     12            NaN            NaN
348  2013     12            NaN            NaN
349  2013     12            NaN            NaN
350  2013     12            NaN            NaN
351  2013     12            NaN            NaN
352  2013     12            NaN            NaN
353  2013     12            NaN            NaN
354  2013     12            NaN            NaN
355  2013     12            NaN            NaN
356  2013     12            NaN            NaN
357  2013     12            NaN            NaN
358  2013     12            NaN            NaN
359  2013     12            NaN            NaN
360  2013     12            NaN            NaN
361  2013     12            NaN            NaN
362  2013     12            NaN            NaN
363  2013     12            NaN            NaN
364  2013     12            NaN            NaN

[365 rows x 4 columns]
     Year  Month  Max Temp (°C)  Min Temp (°C)
0    2013      1          -16.6          -19.2
1    2013      1          -13.4          -19.8
2    2013      1           -5.9          -28.9
3    2013      1          -24.3          -32.7
4    2013      1          -18.6          -26.3
5    2013      1          -15.5          -19.0
6    2013      1          -16.8          -29.1
7    2013      1          -29.1          -39.7
8    2013      1          -31.9          -40.3
9    2013      1          -26.7          -36.6
10   2013      1          -26.8          -33.6
11   2013      1          -28.3          -38.0
12   2013      1          -32.9          -41.4
13   2013      1          -25.8          -35.0
14   2013      1          -26.3          -32.9
15   2013      1          -26.4          -36.7
16   2013      1            NaN            NaN
17   2013      1            NaN            NaN
18   2013      1            NaN            NaN
19   2013      1            NaN            NaN
20   2013      1            NaN            NaN
21   2013      1            NaN            NaN
22   2013      1            NaN            NaN
23   2013      1            NaN            NaN
24   2013      1            NaN            NaN
25   2013      1            NaN            NaN
26   2013      1            NaN            NaN
27   2013      1            NaN            NaN
28   2013      1            NaN            NaN
29   2013      1            NaN            NaN
..    ...    ...            ...            ...
335  2013     12            NaN            NaN
336  2013     12            NaN            NaN
337  2013     12            NaN            NaN
338  2013     12            NaN            NaN
339  2013     12            NaN            NaN
340  2013     12            NaN            NaN
341  2013     12            NaN            NaN
342  2013     12            NaN            NaN
343  2013     12            NaN            NaN
344  2013     12            NaN            NaN
345  2013     12            NaN            NaN
346  2013     12            NaN            NaN
347  2013     12            NaN            NaN
348  2013     12            NaN            NaN
349  2013     12            NaN            NaN
350  2013     12            NaN            NaN
351  2013     12            NaN            NaN
352  2013     12            NaN            NaN
353  2013     12            NaN            NaN
354  2013     12            NaN            NaN
355  2013     12            NaN            NaN
356  2013     12            NaN            NaN
357  2013     12            NaN            NaN
358  2013     12            NaN            NaN
359  2013     12            NaN            NaN
360  2013     12            NaN            NaN
361  2013     12            NaN            NaN
362  2013     12            NaN            NaN
363  2013     12            NaN            NaN
364  2013     12            NaN            NaN

[365 rows x 4 columns]
     Year  Month  Max Temp (°C)  Min Temp (°C)
0    2013      1          -16.6          -19.2
1    2013      1          -13.4          -19.8
2    2013      1           -5.9          -28.9
3    2013      1          -24.3          -32.7
4    2013      1          -18.6          -26.3
5    2013      1          -15.5          -19.0
6    2013      1          -16.8          -29.1
7    2013      1          -29.1          -39.7
8    2013      1          -31.9          -40.3
9    2013      1          -26.7          -36.6
10   2013      1          -26.8          -33.6
11   2013      1          -28.3          -38.0
12   2013      1          -32.9          -41.4
13   2013      1          -25.8          -35.0
14   2013      1          -26.3          -32.9
15   2013      1          -26.4          -36.7
16   2013      1            NaN            NaN
17   2013      1            NaN            NaN
18   2013      1            NaN            NaN
19   2013      1            NaN            NaN
20   2013      1            NaN            NaN
21   2013      1            NaN            NaN
22   2013      1            NaN            NaN
23   2013      1            NaN            NaN
24   2013      1            NaN            NaN
25   2013      1            NaN            NaN
26   2013      1            NaN            NaN
27   2013      1            NaN            NaN
28   2013      1            NaN            NaN
29   2013      1            NaN            NaN
..    ...    ...            ...            ...
335  2013     12            NaN            NaN
336  2013     12            NaN            NaN
337  2013     12            NaN            NaN
338  2013     12            NaN            NaN
339  2013     12            NaN            NaN
340  2013     12            NaN            NaN
341  2013     12            NaN            NaN
342  2013     12            NaN            NaN
343  2013     12            NaN            NaN
344  2013     12            NaN            NaN
345  2013     12            NaN            NaN
346  2013     12            NaN            NaN
347  2013     12            NaN            NaN
348  2013     12            NaN            NaN
349  2013     12            NaN            NaN
350  2013     12            NaN            NaN
351  2013     12            NaN            NaN
352  2013     12            NaN            NaN
353  2013     12            NaN            NaN
354  2013     12            NaN            NaN
355  2013     12            NaN            NaN
356  2013     12            NaN            NaN
357  2013     12            NaN            NaN
358  2013     12            NaN            NaN
359  2013     12            NaN            NaN
360  2013     12            NaN            NaN
361  2013     12            NaN            NaN
362  2013     12            NaN            NaN
363  2013     12            NaN            NaN
364  2013     12            NaN            NaN

[365 rows x 4 columns]
     Year  Month  Max Temp (°C)  Min Temp (°C)
0    2013      1          -16.6          -19.2
1    2013      1          -13.4          -19.8
2    2013      1           -5.9          -28.9
3    2013      1          -24.3          -32.7
4    2013      1          -18.6          -26.3
5    2013      1          -15.5          -19.0
6    2013      1          -16.8          -29.1
7    2013      1          -29.1          -39.7
8    2013      1          -31.9          -40.3
9    2013      1          -26.7          -36.6
10   2013      1          -26.8          -33.6
11   2013      1          -28.3          -38.0
12   2013      1          -32.9          -41.4
13   2013      1          -25.8          -35.0
14   2013      1          -26.3          -32.9
15   2013      1          -26.4          -36.7
16   2013      1            NaN            NaN
17   2013      1            NaN            NaN
18   2013      1            NaN            NaN
19   2013      1            NaN            NaN
20   2013      1            NaN            NaN
21   2013      1            NaN            NaN
22   2013      1            NaN            NaN
23   2013      1            NaN            NaN
24   2013      1            NaN            NaN
25   2013      1            NaN            NaN
26   2013      1            NaN            NaN
27   2013      1            NaN            NaN
28   2013      1            NaN            NaN
29   2013      1            NaN            NaN
..    ...    ...            ...            ...
335  2013     12            NaN            NaN
336  2013     12            NaN            NaN
337  2013     12            NaN            NaN
338  2013     12            NaN            NaN
339  2013     12            NaN            NaN
340  2013     12            NaN            NaN
341  2013     12            NaN            NaN
342  2013     12            NaN            NaN
343  2013     12            NaN            NaN
344  2013     12            NaN            NaN
345  2013     12            NaN            NaN
346  2013     12            NaN            NaN
347  2013     12            NaN            NaN
348  2013     12            NaN            NaN
349  2013     12            NaN            NaN
350  2013     12            NaN            NaN
351  2013     12            NaN            NaN
352  2013     12            NaN            NaN
353  2013     12            NaN            NaN
354  2013     12            NaN            NaN
355  2013     12            NaN            NaN
356  2013     12            NaN            NaN
357  2013     12            NaN            NaN
358  2013     12            NaN            NaN
359  2013     12            NaN            NaN
360  2013     12            NaN            NaN
361  2013     12            NaN            NaN
362  2013     12            NaN            NaN
363  2013     12            NaN            NaN
364  2013     12            NaN            NaN

[365 rows x 4 columns]
     Year  Month  Max Temp (°C)  Min Temp (°C)
0    2013      1          -16.6          -19.2
1    2013      1          -13.4          -19.8
2    2013      1           -5.9          -28.9
3    2013      1          -24.3          -32.7
4    2013      1          -18.6          -26.3
5    2013      1          -15.5          -19.0
6    2013      1          -16.8          -29.1
7    2013      1          -29.1          -39.7
8    2013      1          -31.9          -40.3
9    2013      1          -26.7          -36.6
10   2013      1          -26.8          -33.6
11   2013      1          -28.3          -38.0
12   2013      1          -32.9          -41.4
13   2013      1          -25.8          -35.0
14   2013      1          -26.3          -32.9
15   2013      1          -26.4          -36.7
16   2013      1            NaN            NaN
17   2013      1            NaN            NaN
18   2013      1            NaN            NaN
19   2013      1            NaN            NaN
20   2013      1            NaN            NaN
21   2013      1            NaN            NaN
22   2013      1            NaN            NaN
23   2013      1            NaN            NaN
24   2013      1            NaN            NaN
25   2013      1            NaN            NaN
26   2013      1            NaN            NaN
27   2013      1            NaN            NaN
28   2013      1            NaN            NaN
29   2013      1            NaN            NaN
..    ...    ...            ...            ...
335  2013     12            NaN            NaN
336  2013     12            NaN            NaN
337  2013     12            NaN            NaN
338  2013     12            NaN            NaN
339  2013     12            NaN            NaN
340  2013     12            NaN            NaN
341  2013     12            NaN            NaN
342  2013     12            NaN            NaN
343  2013     12            NaN            NaN
344  2013     12            NaN            NaN
345  2013     12            NaN            NaN
346  2013     12            NaN            NaN
347  2013     12            NaN            NaN
348  2013     12            NaN            NaN
349  2013     12            NaN            NaN
350  2013     12            NaN            NaN
351  2013     12            NaN            NaN
352  2013     12            NaN            NaN
353  2013     12            NaN            NaN
354  2013     12            NaN            NaN
355  2013     12            NaN            NaN
356  2013     12            NaN            NaN
357  2013     12            NaN            NaN
358  2013     12            NaN            NaN
359  2013     12            NaN            NaN
360  2013     12            NaN            NaN
361  2013     12            NaN            NaN
362  2013     12            NaN            NaN
363  2013     12            NaN            NaN
364  2013     12            NaN            NaN

[365 rows x 4 columns]
     Year  Month  Max Temp (°C)  Min Temp (°C)
0    2013      1          -16.6          -19.2
1    2013      1          -13.4          -19.8
2    2013      1           -5.9          -28.9
3    2013      1          -24.3          -32.7
4    2013      1          -18.6          -26.3
5    2013      1          -15.5          -19.0
6    2013      1          -16.8          -29.1
7    2013      1          -29.1          -39.7
8    2013      1          -31.9          -40.3
9    2013      1          -26.7          -36.6
10   2013      1          -26.8          -33.6
11   2013      1          -28.3          -38.0
12   2013      1          -32.9          -41.4
13   2013      1          -25.8          -35.0
14   2013      1          -26.3          -32.9
15   2013      1          -26.4          -36.7
16   2013      1            NaN            NaN
17   2013      1            NaN            NaN
18   2013      1            NaN            NaN
19   2013      1            NaN            NaN
20   2013      1            NaN            NaN
21   2013      1            NaN            NaN
22   2013      1            NaN            NaN
23   2013      1            NaN            NaN
24   2013      1            NaN            NaN
25   2013      1            NaN            NaN
26   2013      1            NaN            NaN
27   2013      1            NaN            NaN
28   2013      1            NaN            NaN
29   2013      1            NaN            NaN
..    ...    ...            ...            ...
335  2013     12            NaN            NaN
336  2013     12            NaN            NaN
337  2013     12            NaN            NaN
338  2013     12            NaN            NaN
339  2013     12            NaN            NaN
340  2013     12            NaN            NaN
341  2013     12            NaN            NaN
342  2013     12            NaN            NaN
343  2013     12            NaN            NaN
344  2013     12            NaN            NaN
345  2013     12            NaN            NaN
346  2013     12            NaN            NaN
347  2013     12            NaN            NaN
348  2013     12            NaN            NaN
349  2013     12            NaN            NaN
350  2013     12            NaN            NaN